.SeekAdProduct {
    width: 100%;
    margin: auto;
    height: 150px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.Capitalize {
    text-transform: capitalize;
}

@media (min-width: 500px) and (min-height: 400px) {
    .SeekAdProduct {
        /* width: 350px; */
        height: 100px;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .SeekAdProduct {
        /* width: 450px; */
        height: 150px;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .SeekAdProduct {
        /* width: 700px; */
        height: 200px;
    }
}